  <p>
    <%= f.text_field :mail_addresses, :size => 60 %><br />
    <em><%= l(:email_addresses_comma_separated) %></em>
  </p>
  <p>
   <%= f.check_box :enabled %> 
  </p>
  <p>
    <%= f.check_box :priority %>
  </p>
