<h2><%= l(:newissuealerts_new, :project => @project.name) %></h2>
<% form_for :newissuealert, @newissuealert, :url => { :project_id => @project.identifier } do |f| %>
  <%= f.error_messages %> 
  <div class="box tabular settings">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <p>
      <%= f.submit l(:create) %>
    </p>
  </div>
<% end %> 
